
body{
    background: #e5e5e5;
}
.customdiv{
    margin-bottom: 3px;
    min-height: 300px;
    background: silver;
    text-align: center;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
} 
.customdivbtn{
    padding: 10px;
    width: 100%;
}
/*img {
    margin-top: 20px;
}*/
.nested .sidebarcontent{
    margin-bottom: 10px;
    min-height: 150px;
    background: silver;
    text-align: center;
    font-size: large;
}
.nested .maincontent{
    margin-bottom: 10px;
    min-height: 310px;
    background: silver;
    text-align: center;
    font-size: large;
}
.gallery h3{
    margin-top: 20px;
}
hr{
    border: 1px solid red;
}
pre{
    max-height: 350px;
}
.breadcrumb > li + li:before{
    content: "|";
}
.breadcrumb{
    background-color: #ffd800;
}
.breadcrumb > .active {
    color: #ff0000;
}
.media img{
    height: 80px;width: 80px;
}
p{
    text-align: justify;
}
.divStyle{
    padding-top: 40px
}
#sidemenu{
    background-color:cornsilk;height:500px;width:20%; float:left;
}
body {
    margin: 0;
}
#mainNavBar li:nth-of-type(1){
    margin-top: 70px;
}
#frmone{
    padding-left: 185px
}
.wrapper{
    width:80%; float:left;height: 100%;position: relative;   margin-top: 100px;margin-top: 40px;
}
#imageCarousel img{
    height: 620px;width:100%;
}
.navbar{
   background-color: lightgreen; 
}
.navbar-default .navbar-nav > li > a {
    color: azure;
}
.avatar{
     border-radius: 50%;
     margin-left:0;
     height:30px;
     width:30px;
 }
 .navbar ul:nth-of-type(2) li:nth-of-type(1){
     margin-right: 100px;
 }
 #logo{
     font-size: 24px; font-family: fantasy;
 }
 .grp1{
     width:230px; float:left;
 }
 .grp2{
     width:230px; float:left; margin-left: 50px;
 }
 .login{
     margin-top: 30%; color: #1b6d85;
 }
 .login h3{
    color:white;
 }